@charset "utf-8";
#head {
  min-width: 1340px;
  width: 100%;
  height: 70px;
  padding: 12px 50px;
  box-shadow: 0 1px 5px #ccc;
  line-height: 45px;
  background: #fff;
}
#head > .logo img {
  height: 40px;
  margin-left: 15px;
}
#head > section:nth-of-type(2) {
  height: 100%;
  display: flex;
  position: relative;
 	/*display: -webkit-flex;
  display: flex;*/
}

#head > section:nth-of-type(2) > button {
  position: absolute;
  flex: 2;
  background: url(../../img/sprite_0.png) no-repeat 2px -613px;
  width: 30px;
  height: 30px;
  border: none;
  right: 30%;
  top: 8px;
}
#head > section:nth-of-type(2) > button > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#head > section:nth-of-type(2) .hot-words {
  position: absolute;
  top: 6px;
  right: 35%;
  font-size: 0;
  text-align: right;
}
#head > section:nth-of-type(2) .hot-words > a {
  font-size: 12px;
  margin-right: 5px;
  padding: 0 10px;
  line-height: 22px;
  color: #fff;
  background: #ebebeb;
  border-radius: 50px;
  min-width: 40px;
  text-align: center;
  transition: 0.3s;
}
#head > section:nth-of-type(2) .hot-words > a:hover {
  background: #9d9d9d;
}
#head > section:nth-of-type(2) > ul {
  position: absolute;
  top: 45px;
  left: 5%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #ccc;
  display: none;
  width: 65%;
  padding: 10px;
  line-height: 30px;
  z-index: 999;
}
#head > section:nth-of-type(2) > ul > li > a {
  font-size: 12px;
  color: #333;
}
#head > section:nth-of-type(2) > ul > li > a:hover {
  color: #5ecfba;
}
#head > section > input[type="search"] {
  border-radius: 20px;
  width: 70%;
  margin: auto;
}
#head > section > input[type="search"]:focus {
  border: 1px solid #5ecfba;
 	/*border: none;*/
  box-shadow: none;
}
#head > section > a {
  border-radius: 20px;
  width: 35%;
  margin-right: 5%;
}
#head > section > a > a {
  color: #fff;
}
#head > section > a.app {
  display: inline-block;
  background: url(../../img/sprite_0.png) no-repeat 0 -648px;
  width: 167px;
  height: 60px;
  float: right;
}
