#head {
  width: 100%;
  height: 92px;
  background: #FFF;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
#head .head-container {
  width: 1160px;
  margin: 0px auto;
}
#head .head-container a.logo {
  width: 223px;
  height: 41px;
  display: block;
  background: url(../img/logo1.png) no-repeat 0 0;
  margin-top: 25px;
  float: left;
  background-size: auto 41px;
}
#head ul.nav {
  float: left;
  margin-left: 260px;
}
#head ul.nav li {
  float: left;
  font-style: 16px;
  margin: 35px 45px 0px 0px;
}
#head ul.nav li a {
  color: #666;
}
#head ul.nav li a.active,
#head ul.nav li a:hover {
  color: #fed100;
}
#head .login-btn-content {
  float: right;
  font-style: 14px;
  padding-top: 33px;
}
#head .login-btn-content a {
  float: left;
  display: block;
  height: 18px;
  padding: 0px 0px 0px 30px;
  color: #999;
  height: 20px;
  line-height: 20px;
  position: relative;
}
#head .login-btn-content a .line-dotted {
  position: absolute;
  height: 60%;
  right: -15px;
  top: 20%;
  width: 1px;
  overflow: hidden;
  border-right: 1px dotted #CCC;
}
#head .login-btn-content a:hover {
  color: #fed100;
}